footer{
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .rodape {
        height: 10vh;
        justify-content: space-evenly;
        font-size: 18px;
    }
    .escritarodape {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2vh;
        align-items: baseline;
        color: #83c6d3;
    }
    .escritarodape h2{
        font-size: 4vh;
    }
    .escritarodape h5{
        font-size: 2vh;
    }
    