body {
    margin: 0;
    padding: 0;
    height: 200vh;
    width: 100vw;
    background: linear-gradient(72deg, #11173f 1%, #11173f 99%);
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: #fff;
}


input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

.cartaz{
    margin-top: 700px;
}

.filmesCima {
    display: flex;
    justify-content: space-evenly;
}

.filmesBaixo {
    display: flex;
    justify-content: space-evenly;
}

/* card1 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.contentCard1{
    font-family: 'Quicksand', sans-serif;
}


.contentCard1 .card {
    background: #8cd2c5;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #2226546b;
    width: 300px;

}

.contentCard1 .mediaCard {
    background: url("herditario.jpg") center/cover;
    height: 400px;
    width: 100%;
}

.contentCard1 .title{
    color: #2b3d59;
}

.contentCard1 .topCard {
    padding: 20px;
    padding-top: 0px;
}

.contentCard1 .bottomCard{
    padding: 20px;
}

.contentCard1:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .contentCard1 {
  
  
    transition: 0.5s ease;
    cursor: pointer;
    
  }

/* card2* */

.contentCard2{
    font-family: 'Quicksand', sans-serif;
}


.contentCard2 .card {
    background: #8cd2c5;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #2226546b;
    width: 300px;

}

.contentCard2 .mediaCard {
    background: url("midsommar.jpg") center/cover;
    height: 400px;
    width: 100%;
}

.contentCard2 .title{
    color: #2b3d59;
}

.contentCard2 .topCard {
    padding: 20px;
    padding-top: 0px;
}

.contentCard2 .bottomCard{
    padding: 20px;
}

.contentCard2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .contentCard2 {
  
  
    transition: 0.5s ease;
    cursor: pointer;
    
  }

/* card3 */

.contentCard3{
    font-family: 'Quicksand', sans-serif;
}


.contentCard3 .card {
    background: #8cd2c5;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #2226546b;
    width: 300px;

}

.contentCard3 .mediaCard {
    background: url("corra.jpg") center/cover;
    height: 400px;
    width: 100%;
}

.contentCard3 .title{
    color: #2b3d59;
}

.contentCard3 .topCard {
    padding: 20px;
    padding-top: 0px;
}

.contentCard3 .bottomCard{
    padding: 20px;
}

.contentCard3:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .contentCard3 {
  
  
    transition: 0.5s ease;
    cursor: pointer;
    
  }

/* card4 */

.contentCard4{
    font-family: 'Quicksand', sans-serif;
}


.contentCard4 .card {
    background: #8cd2c5;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #2226546b;
    width: 300px;

}

.contentCard4 .mediaCard {
    background: url("nos.jpg") center/cover;
    height: 400px;
    width: 100%;
}

.contentCard4 .title{
    color: #2b3d59;
}

.contentCard4 .topCard {
    padding: 20px;
    padding-top: 0px;
}

.contentCard4 .bottomCard{
    padding: 20px;
}

.contentCard4:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .contentCard4 {
  
  
    transition: 0.5s ease;
    cursor: pointer;
    
  }

/* card5 */

.contentCard5{
    font-family: 'Quicksand', sans-serif;
}


.contentCard5 .card {
    background: #8cd2c5;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #2226546b;
    width: 300px;

}

.contentCard5 .mediaCard {
    background: url("bruxa.jpg") center/cover;
    height: 400px;
    width: 100%;
}

.contentCard5 .title{
    color: #2b3d59;
}

.contentCard5 .topCard {
    padding: 20px;
    padding-top: 0px;
}

.contentCard5 .bottomCard{
    padding: 20px;
}

.contentCard5:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .contentCard5 {
  
  
    transition: 0.5s ease;
    cursor: pointer;
    
  }

/* card6 */

.contentCard6{
    font-family: 'Quicksand', sans-serif;
}


.contentCard6 .card {
    background: #8cd2c5;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #2226546b;
    width: 300px;

}

.contentCard6 .mediaCard {
    background: url("farol.jpg") center/cover;
    height: 400px;
    width: 100%;
}

.contentCard6 .title{
    color: #2b3d59;
}

.contentCard6 .topCard {
    padding: 20px;
    padding-top: 0px;
}

.contentCard6 .bottomCard{
    padding: 20px;
}

.contentCard6:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .contentCard6 {
  
  
    transition: 0.5s ease;
    cursor: pointer;
    
  }